.todo-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #fffadc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-form input[type='text'] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
}

.todo-form button {
  padding: 10px;
  font-size: 1rem;
  background-color: #4dcc69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-form button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.todo-item button {
  background-color: #e72e41;
  border-radius: 5px;
  color: rgb(36, 30, 30);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.todo-item button:hover {
  background-color: #c82333;
}

/* Show More button styling */
.show-more, .show-less {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  background-color: #007bff ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more:hover, .show-less:hover {
  background-color: #0056b3;
}

.show-less {
  background-color: #ffc107;
}

.show-less:hover {
  background-color: #e0a800;
}
